.des {
    display: flex;
    flex-wrap:wrap ;
}

.desL {
    display: flex;
}

.desL img {
    width: 100%;
}

.desR {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;

}

.R1 {
    display: flex;
    flex-direction: column;
}

.R1 img {
    width: 100%;
    height: 100%;
}

.Viewbtn {
    width: 170px;
    height: 50px;
}
