.fth {
    background: white;
    position: absolute;
    margin-top: -130px;
    border-radius: 10px;
    padding: 20px;
    padding-right: 50px;

}

.OneWay {
    color: #8b3eea;
    font-weight: 500;
}

