.home_one_banner {
    background-image: url(../assets/images/bg.40066edd.png);
    /* height: 500px; */
    padding: 370px 0 280px 0;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}