/* .btn-primary {
    background-color: rgb(139 62 234) !important;
} */
.arrimg {
    min-height: 100px;
    max-height: 300px;
    padding-bottom: 25px;
    margin-right: 20px;
}

  .arrimg img{
  object-fit: cover;

  }